body{
    background: #c8e5e5; 
}

.nav-item{
    position: absolute;
    top: 10px;
    left: 10px;

    }

.code-quiz{
    text-align: center;
    margin: 5%;
    padding: 5%;
    background-color:white;
    border-radius: 25px;
}

